  body {
    height: 2000px;
    box-sizing: border-box;
    font-family: '標楷體';
    font-size: 16px;
    color: #000000;
background-image: url(./images/0101.jpg);
  }

  .box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
margin-bottom: 10px;
  }
  .link{
    font-family: '新細明體';
  }
  .html-title{
    color: #FF0000;
    font-size: 18px;
    text-align: center;
  }
  .row{
    display: flex;
    justify-content: center;
  }

