body{
  height: 2000px;
  box-sizing: border-box;
  font-family: '標楷體';
  font-size: 16px;
  
  background-image: url(./images/0101.jpg);
}

.html-title{
  font-size: 18px;
  color: #ff0000;
  text-align: center;
  margin-bottom: 10px;
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: '新細明體';
  margin-bottom: 10px;
}

.text{
  color: #000000;font-size: 16px;
}

